<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IRAASServerService" receiveTimeout="24.00:00:00" sendTimeout="24.00:00:00" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000">
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:43000/RAASServerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRAASServerService" contract="RAASServerServiceRef.IRAASServerService" name="NetTcpBinding_IRAASServerService">
        <identity>
          <servicePrincipalName value="host/SPECTREINET"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
