<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true" performanceCounters="All">
      <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Elbitin.Applications.RAAS.RAASServer.RAASSvr.RAASServerService">
        <endpoint address="net.tcp://localhost:43000/RAASServerService" binding="netTcpBinding" bindingConfiguration="SecurityByTransportTcp" contract="Elbitin.Applications.RAAS.RAASServer.RAASSvr.IRAASServerService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:43000/RAASServerService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="SecurityByTransportTcp" maxReceivedMessageSize="20000000" maxBufferPoolSize="20000000" openTimeout="24:00:00" closeTimeout="24:00:00" sendTimeout="24:00:00" receiveTimeout="24:00:00">
          <reliableSession enabled="true"/>
          <security mode="Transport">
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="SecurityByTransport" maxReceivedMessageSize="20000000" maxBufferPoolSize="20000000" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <reliableSession enabled="true" inactivityTimeout="00:00:10" />
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
            <serviceDebug includeExceptionDetailInFaults="True"/>
            <serviceMetadata/>
            <serviceThrottling maxConcurrentCalls="30000" maxConcurrentInstances="30000" maxConcurrentSessions="30000"/>
        </behavior>

        <!--<behavior>
          <serviceCredentials>
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>-->
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization impersonateCallerForAllOperations="true"/>
          <serviceThrottling maxConcurrentCalls="30000" maxConcurrentInstances="30000" maxConcurrentSessions="30000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="SecurityByTransportTcp"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
