<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IRAASClientService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/RAASClientService" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IRAASClientService"
                contract="RAASClientServiceRef.IRAASClientService" name="NetNamedPipeBinding_IRAASClientService">
                <identity>
                    <userPrincipalName value="SPECTRE\keglu" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
